/* &display=swap&subset=cyrillic-ext */

@import "null.css";


@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");







/* ======================================================= */

body {
	font-family: "Roboto", sans-serif;
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.wrapper > main{
	flex-grow: 1;
}


[class*="__container"]{
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
	}

/* ================================================ */

.page__block:nth-child(1) h2{
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translate(-50%,0);
	padding: 10px 30px;
	background-color: rgb(218, 38, 38);
	border-radius: 10px;
	color: aliceblue;
	font-size: 25px;
	
}


.page__block {
	position: relative;
	padding: 50px 30px 30px;
	background-color: rgb(204, 83, 83);
	margin-top: 30px;
	text-align: center;
	border-radius: 20px;
}
.block:nth-child(1) {
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	min-height: 500px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.block:nth-child(1) .block__item:nth-child(2){
	/* flex: 1 0 200px;  */
}
.block:nth-child(1) .block__item:nth-child(3){
	/* flex: 1 0 200px;  */
}
.block:nth-child(1) .block__item:nth-child(4){
	/* flex: 1 0 200px;  */
}

/* .block:nth-child(1) .block__item:nth-child(2)::before */
/* .block__item::before
{
	content: "";
	width: 30px;
	height: 30px;
	background-color: rgb(11, 12, 12);
	margin-left: 20px;
	position: relative;
} */
.block:nth-child(2) {
	display:inline-flex;
	justify-content: center;
	flex-wrap: wrap;
}

.block:nth-child(3) {
	display:flex;
	justify-content: center;
	min-height: 500px;
}

.block:nth-child(3) .block__item:nth-child(2){
align-self: center;
}


.block__item {
	background-color: rgb(134, 207, 105);
	color: aliceblue;
	font-size: 30px;
	padding: 20px 50px;
	border: 1px solid #000;
	flex: 0 0 25%;
}


.abab {
}

.abab::before {
	content: "";
	width: 30px;
	height: 30px;
	background-color: rgb(146, 50, 50);
}

/* ============================карточки============================ */

.cards {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.cards__column {
	flex: 0 1 33.333%;
	padding: 0 10px;
}
.cards__item {
	border: 2px solid black;
	min-height: 100%;
}
.item-card {
	display: flex;
	flex-direction: column;
}

.item-card__image {
	
}
.item-card__image img{
	max-width: 100%;
}

.item-card__text-body{
	padding: 24px;
	min-height: 100%;
}

.body-text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 20px;
}

.body-text__profession {
	padding: 7px;
	background-color: rgb(75, 196, 155);
	color: white;
	font-size: 14px;
	border-radius: 5px;

}
.body-text__topic {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 700;
	flex-grow: 1;
}
.body-text__cost {
	color: gray;
}

.body-text__cost span{
	color: rgb(255, 0, 0);
}




/* ================================ */

.border-grad2 {
	width: 292px;
	height: 30px;
	border: 4px solid transparent;
	background: linear-gradient(#cfcfcf,#cfcfcf) padding-box, linear-gradient(to right, #ff0000 0%, #1000ff 100%) border-box;
	}


	